<footer class="footer">
    <p class="footer__title">Abhay Khapake</p>
    
    <div class="footer__social">
       
            <a href="https://www.linkedin.com/in/abhay-khapake-56075b279?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "
                class="fa fa-linkedin"></a>
            <a href="https://www.instagram.com/abhay_khapake/?hl=en" class="fa fa-instagram"></a>
            <a href="https://github.com/Abhaykhapake" class="fa fa-github"></a>
            
       
    </div>
    <p class="footer__copy">&#169; AbhayKhapake. All rigths reserved</p>
    
</footer>
