<section class="about section " id="about">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="../assets/img/about.jpg" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">PROFESSIONAL SUMMARY</h2>
            <p class="about__text">Highly motivated and detail-oriented B.Tech student in Computer Science and
                Engineering with a 7.5 CGPA (till 6th semester) from CSMSS Chh. Shahu College of Engineering.
                Demonstrated hands-on experience in full-stack web development through projects and a 6-month Internship
                at A2Z IT HUB. Proficient in creating dynamic, secure, and user-friendly web applications using HTML,
                CSS, JavaScript, Node.js, Express.js, MySQL, and MongoDB. Skilled in front-end and back-end development
                with a strong focus on user authentication and payment integration. Collaborative team player with a
                talent for innovating solutions to real-world problems. Certified in Core Java and Full Stack Web
                Development, possessing excellent communication skills and a passion for continuous learning.</p>
        </div>
    </div>
</section>