


<section class="about section " id="projects">
    <h2 class="section-title">Projects</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="../assets/img/shoes.png" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">• E-commerce Website (Shoes Store) with Authentication</h2>
            <p class="about__text">
                • Developed a responsive eCommerce website using HTML, CSS, and Angular<br>
                • Implemented user authentication (sign-up, login, logout) with secure JWT for session management.<br>
                • Integrated Angular routing for smooth navigation between pages (product catalog, login, checkout).<br>
                • Applied responsive design principles for mobile and desktop compatibility.<br>
                • Ensured form validation for user inputs during authentication and product checkout.<br>
            </p>
        </div>
    </div>

    
</section>

<!-- second project -->
<section class="about section ">
    
<div class="about__container bd-grid">
    <div>
        
        <h2 class="about__subtitle">•Website for Course Selling.</h2>
        <p class="about__text">
            Developed a dynamic platform offering users access to a wide range
            of courses and educators. Key features include secure user
            authentication, educator uploads for selling lectures, and seamless
            payment integration using Razorpay. <br />
            • User authentication system for secure content access.<br />
            • Razorpay integration for secure payment processing.<br />
            • Educator marketplace for lecture uploads and sales.<br />
            • Tech Stack: HTML, CSS, JavaScript, Node.js, Express, MySQL.
        </p>
    </div>


    <div class="about__img">
        <img src="../assets/img/course.png" alt="">
    </div>

    
</div>
</section>