<section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div class="skills__container bd-grid">
        <h2 class="skills__subtitle">Profesional Skills</h2>
            <p class="skills__text">Skilled in Core Java, MySQL, MongoDB, and proficient in front-end development with
                HTML and JavaScript. Experienced with back-end frameworks like Node.js and Express.js. Adept at using
                development tools such as VS Code and Sublime Text. </p>
        <div>
            
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-html5 skills__icon'></i>
                    <span class="skills__name">HTML5</span>
                </div>
                <div class="skills__bar skills__html">

                </div>
                <div>
                    <span class="skills__percentage">95%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                </div>
                <div class="skills__bar skills__css">

                </div>
                <div>
                    <span class="skills__percentage">85%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon'></i>
                    <span class="skills__name">JAVASCRIPT</span>
                </div>
                <div class="skills__bar skills__js">

                </div>
                <div>
                    <span class="skills__percentage">65%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxs-paint skills__icon'></i>
                    <span class="skills__name">Bootstrap</span>
                </div>
                <div class="skills__bar skills__bt">

                </div>
                <div>
                    <span class="skills__percentage">80%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxs-paint skills__icon'></i>
                    <span class="skills__name">Angular</span>
                </div>
                <div class="skills__bar skills__ng">

                </div>
                <div>
                    <span class="skills__percentage">75%</span>
                </div>
            </div>
        </div>

        <div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-html5 skills__icon'></i>
                    <span class="skills__name">Express JS</span>
                </div>
                <div class="skills__bar skills__ex">

                </div>
                <div>
                    <span class="skills__percentage">85%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">Node JS</span>
                </div>
                <div class="skills__bar skills__njs">
                    
                </div>
                <div>
                    <span class="skills__percentage">65%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon' ></i>
                    <span class="skills__name">My SQL</span>
                </div>
                <div class="skills__bar skills__sql">
                    
                </div>
                <div>
                    <span class="skills__percentage">70%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxs-paint skills__icon'></i>
                    <span class="skills__name">MongoDB</span>
                </div>
                <div class="skills__bar skills__mdb">
                    
                </div>
                <div>
                    <span class="skills__percentage">65%</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxs-paint skills__icon'></i>
                    <span class="skills__name">Core java</span>
                </div>
                <div class="skills__bar skills__java">
                    
                </div>
                <div>
                    <span class="skills__percentage">70%</span>
                </div>
            </div>
        </div>
    </div>
</section>